<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>বই সমাহার</title>
    <link rel = "icon" href = "/images/boisomahar.png" type = "image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    
                  
</head>

  <body>

    <script>
        localStorage.setItem("cid" , '<%=customer[0].CUSTOMER_ID%>');
    </script>
    
    
    <div class = "container" justify-content-center">
        <div class="row my-3 mx-3 px-1">
            <div class="col-2 my-3">
                <img src = "/images/boisomahar.png" height = "360" width="720" class="img-thumbnail">
            </div>
            <div class="col-5 my-1 ">
                <div class="row">
                    <div class="row">
                        <form class="d-flex" action="bookSearch" method= "GET">
                            <input class="form-control me-2" id="keyword" name="keyword" type="text" placeholder="Search" aria-label="Search">
                                <div>
                                <button class="btn btn-outline-success" type="submit" >Search</button>
                                </div>
                        </form>
                    </div>
                    
                </div>
                <div class="row my-3">
                    <ul class="nav">
                        <li class = "nav-item "> <a class = "nav-link" href = "book"> Books </a> </li>
                        <li class = "nav-item active"> <a class = "nav-link" href = "author"> Authors </a> </li>
                        <li class = "nav-item"> <a class = "nav-link" href = "publisher"> Publishers </a> </li>
                        </ul>
                </div>
                
            </div>
           
            <div class="col-1 mb-3 mt-3">
                <a href= <%="/cart/" + customer[0].CUSTOMER_ID%> class="bi bi-cart h2" data-bs-toggle="tooltip" title="My Cart"></a>                  
            </div>
            
            <div class="col-2 my-3">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="home.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      My Profile
                    </a>
                  
                    <ul class="dropdown-menu">  
                        <li><a class="dropdown-item" href= <%="/user-info/" + customer[0].CUSTOMER_ID%> >My informations</a></li>

                       
                        <li><a class="dropdown-item" href="wishlist.html">My Wishlist</a></li>
                        <li><a class="dropdown-item" href="vouchers.html">Available Vouchers</a></li>
                        
                        <li><a class="dropdown-item" href="track.html">Track My Order</a></li>
                        <li><a class="dropdown-item" href="history.html">Purchase History</a></li>
                      </ul>
                  </div>
            </div>
        </div>

        <!--
        <div class="row my-3">
            <div class="d-flex justify-content-between">
                <h3> Best Selling Books </h3>
                <button class="btn btn-outline-success mx-2" type="button" id = "view"> View More</button>
            </div>
            
        </div>
        <div class="row">
            <div class=" card col-3 mb-3">
                <div class="d-flex justify-content-center pt-3">
                    <img class = "card-img-top" src="logo.jpg" class = "img-thumbnail" style="height: 150px; width: 120px;">
                </div>
                <div class = "class-body my-3">
                    <h4 class="card-title d-flex justify-content-center"> BookName</h4>
                    <p class = "card-text d-flex justify-content-center"> Writer <br> Publisher <br> Price <br> Rating</p>
                    <div class = " d-flex justify-content-center align-items-center">
                        <a href = "view-book.html">
                            <button class="btn btn-primary mx-2" type="button" > View Book</button>
                        </a>
                        <a href = "cart.html">
                        
                            <button class="btn btn-primary " type="button" id = "addCart">
                                <i class="bi bi-cart"></i> Add to Cart</button>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    -->
        <div class="row my-3">
            <div class="d-flex justify-content-between">
                <h3> Top Rated Books </h3>
                <!--<button class="btn btn-outline-success mx-2" type="button" id = "view"> View More</button>-->
            </div>
            
        </div>
        <div class="row">
            <% if(best.length){ for(var i = 0; i< 6; i++) {%>
                <div class=" card col-3 mb-3">
                    <div class="d-flex justify-content-center">
                        <img class = "card-img-top" src="<%= best[i].IMAGE%>" class = "img-thumbnail" style="height: 150px; width: 120px;">
                    </div>
                    <div class = "class-body my-3">
                        <h4 class="card-title d-flex justify-content-center">  <%=best[i].BOOK_NAME%></h4>
                        <p class = "card-text d-flex justify-content-center"> লেখক: <%=best[i].AUTHOR_NAME%> <br> প্রকাশনী: <%=best[i].PUBLISHER_NAME%> <br> 
                            Tk:<%=humayun[i].PRICE%> <br> Rating: <%=best[i].RATING%></p>
                        <div class = " d-flex justify-content-center align-items-center">
                            <a href=<%= "/book/" + best[i].BOOK_ID %>>
                                <button class="btn btn-primary mx-2" type="button" > View Book</button>
                            </a>
                            <!--
                            <a href = "cart.html">
                            
                                <button class="btn btn-primary " type="button" id = "addCart">
                                    <i class="bi bi-cart"></i> Add to Cart</button>
                            </a>
                        -->
                        </div>
                    </div>
                </div>
                
                &nbsp;
                <% } }else{ %>
                <tr>
                  <td>No data ever existed.</td>
                </tr>
                <% } %>
            
        </div>
        
        <div class="row my-3">
            <div class="d-flex justify-content-between">
                <h3> Books from Humayun Ahmed </h3>
                <!--<button class="btn btn-outline-success mx-2" type="button" id = "view"> View More</button>-->
            </div>
            
        </div>
    
        <div class="row">
            <% if(humayun.length){ for(var i = 0; i< 3; i++) {%>
                <div class=" card col-3 mb-3">
                    <div class="d-flex justify-content-center">
                        <img class = "card-img-top" src="<%= humayun[i].IMAGE%>" class = "img-thumbnail" style="height: 150px; width: 120px;">
                    </div>
                    <div class = "class-body my-3">
                        <h4 class="card-title d-flex justify-content-center">  <%=humayun[i].BOOK_NAME%></h4>
                        <p class = "card-text d-flex justify-content-center">প্রকাশনী: <%=humayun[i].PUBLISHER_NAME%> <br> 
                            Tk: <%=humayun[i].PRICE%> <br> </p>
                        <div class = " d-flex justify-content-center align-items-center">
                            <a href=<%= "/book/" + humayun[i].BOOK_ID %>>
                                <button class="btn btn-primary mx-2" type="button" > View Book</button>
                            </a>
                            <!--
                            <a href = "cart.html">
                            
                                <button class="btn btn-primary " type="button" id = "addCart">
                                    <i class="bi bi-cart"></i> Add to Cart</button>
                            </a>
                        -->
                        </div>
                    </div>
                </div>
                
                &nbsp;
                <% } }else{ %>
                <tr>
                  <td>No data ever existed.</td>
                </tr>
                <% } %>

           

            
        </div>

        <div class="row my-3">
            <div class="d-flex justify-content-between">
                <h3> Books from Muhammad Zafar Iqbal </h3>
                <!--<button class="btn btn-outline-success mx-2" type="button" id = "view"> View More</button>-->
            </div>
            
        </div>
        <div class="row">
            <% if(jafor.length){ for(var i = 1; i< 4; i++) {%>
                <div class=" card col-3 mb-3">
                    <div class="d-flex justify-content-center">
                        <img class = "card-img-top" src="<%= jafor[i].IMAGE%>" class = "img-thumbnail" style="height: 150px; width: 120px;">
                    </div>
                    <div class = "class-body my-3">
                        <h4 class="card-title d-flex justify-content-center">  <%=jafor[i].BOOK_NAME%></h4>
                        <p class = "card-text d-flex justify-content-center"> প্রকাশনী: <%=jafor[i].PUBLISHER_NAME%> <br> 
                            Tk: <%=jafor[i].PRICE%> <br> </p>
                        <div class = " d-flex justify-content-center align-items-center">
                            <a  href=<%= "/book/" + jafor[i].BOOK_ID %>>
                                <button class="btn btn-primary mx-2" type="button" > View Book</button>
                            </a>
                            <!--
                            <a href = "cart.html">
                            
                                <button class="btn btn-primary " type="button" id = "addCart">
                                    <i class="bi bi-cart"></i> Add to Cart</button>
                            </a>
                        -->
                        </div>
                    </div>
                </div>
                
                &nbsp;
                <% } }else{ %>
                <tr>
                  <td>No data ever existed.</td>
                </tr>
                <% } %>
        </div>

        

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>